openapi: 3.2.0
info:
  description: 'BeeHero API Documentation


    READ ME:


    To use BeeHero API, it is necessary to first log in and then copy and enter the given `access_token` into Authorize button.

    '
  version: 1.0.0
  title: BeeHero API Documentation Audio API
  contact:
    email: yuval@beehero.io
servers:
- url: https://backend.beehero.io/external
tags:
- name: Audio
  description: Get audio files from sensors
paths:
  /get_audio_samples:
    post:
      tags:
      - Audio
      summary: Get audio samples by mac address
      description: Given a list of mac addresses and begin & end dates, BeeHero will return a list of audio samples for sensors with these mac addresses between these dates
      operationId: get_audio_sample_by_mac_address
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                mac:
                  type: array
                  items:
                    type: string
                    description: Mac address list to fetch
                  example:
                  - d0:cf:5e:f7:33:1d
                  - d0:cf:5e:f7:33:1e
                from:
                  type: string
                  example: '2020-10-18'
                  description: 'Date to start getting samples from. format: YYYY-MM-DD'
                to:
                  type: string
                  example: '2020-10-18'
                  description: 'Last date to get samples from. format: YYYY-MM-DD'
        required: true
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Audio'
        '401':
          description: Login required, user is not logged in
        '403':
          description: Invalid Token
        '404':
          description: Validation exception
      security:
      - bearerAuth: []
components:
  schemas:
    Audio:
      type: array
      items:
        type: object
        properties:
          mac:
            type: string
            description: Sensor mac address
          audios:
            type: array
            items:
              $ref: '#/components/schemas/AudioObject'
    AudioObject:
      type: object
      properties:
        key:
          type: string
          description: Audio file key
        url:
          type: string
          description: Url to download audio file
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: Please enter access_token (taken from login response body)
externalDocs:
  description: Find out more about BeeHero
  url: https://www.beehero.io/
