openapi: 3.2.0
info:
  description: 'BeeHero API Documentation


    READ ME:


    To use BeeHero API, it is necessary to first log in and then copy and enter the given `access_token` into Authorize button.

    '
  version: 1.0.0
  title: BeeHero API Documentation Auth API
  contact:
    email: yuval@beehero.io
servers:
- url: https://backend.beehero.io/external
tags:
- name: Auth
  description: Login to BeeHero API
paths:
  /login:
    post:
      tags:
      - Auth
      summary: Login to BeeHero API
      description: 'Login to BeeHero API with email and password.

        Please note, once you logged in successfully, the response will include an authorization header -  This access_token header would have to be in the header of each API request below'
      operationId: login
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                email:
                  type: string
                  example: user@mail.com
                  description: User email
                password:
                  type: string
                  example: 1234
                  description: User password
        required: true
      responses:
        '200':
          description: Successful login, a token will be sent in the response body and in the set-cookie header
          headers:
            Set-Cookie:
              schema:
                type: string
                example: access_token_cookie=abcde12345;
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Login'
        '404':
          description: Login credentials do not match
components:
  schemas:
    Login:
      type: object
      properties:
        access_token:
          type: string
          description: cookie access token
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: Please enter access_token (taken from login response body)
externalDocs:
  description: Find out more about BeeHero
  url: https://www.beehero.io/
